<div *ngIf="identity" class="navigation col-lg-1">
  <h1>
    {{title}}
  </h1>
</div>

<div class="clearfix"></div>

<div class="navigation col-lg-11">
  <p>Estas logueado en la aplicación</p>
</div>

<div class="col-lg-12" *ngIf="identity">
	<div class="col-lg-6">
		<h1>Identificate</h1>
		<form class="col-lg-10">
			<p>
				<label>Correo electrónico</label>
				<input type="text" name="email" class="form-control" required>
			</p>
			<p>
				<label>Contaseña</label>
				<input type="password" name="password" class="form-control" required>
			</p>	
			<input type="submit" value="Entrar" class="btn btn-primary"/>	
		</form>
	</div>
	<div class="col-lg-6">
		<h1>Registrate</h1>
	</div>
</div>